<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <h2>Поиск клиента</h2>
    <div class="button-block">
        <form action="{% url 'customer_info' %}" method="get">
            <button type="submit" class="btn btn-primary">Поиск клиента</button>
        </form>
    </div>
    <div class="button-create_booking">
        <form action="{%  url 'create_booking' %}" method="get">
            <button type="submit" class="btn btn-primary">Создать бронь</button>
        </form>
    </div>
</body>
</html>