<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        {% if user.is_authenticated %}
            <h1>Система управления бронированиями</h1>

            <div class="button-block">
                <a href="{% url 'customer_info' %}" class="btn">Поиск клиента</a>
                <a href="{% url 'create_booking' %}" class="btn">Создать бронь</a>
                <a href="{% url 'booking_manager' %}" class="btn">Таблица бронирований</a>
            </div>

            <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
        {% else %}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</body>
</html>