{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="container">
    <h1>Информация о клиенте</h1>

    {% if customer %}
    <div class="client-info">
        <h2>Найденный клиент:</h2>
        <p>ID: {{ customer.id }}</p>
        <p>Имя: {{ customer.name }}</p>
        <p>Фамилия: {{ customer.surname }}</p>
        <p>Паспорт: {{ customer.passport_id }}</p>
    </div>
    {% endif %}
    <div class="button-group">
        <a href="{% url 'index' %}" class="btn btn-secondary">На главную</a>
    </div>
</div>