<!DOCTYPE html>
<html>
<head>
    <title>Информация о клиенте</title>
</head>
<body>
    <h1>Информация о клиенте</h1>

    <form method="post">
        {% csrf_token %}
        <label for="name">Имя:</label>
        <input type="text" name="name" id="name"><br><br>

        <label for="surname">Фамилия:</label>
        <input type="text" name="surname" id="surname"><br><br>

        <button type="submit">Найти</button>
    </form>

    {% if customer %}
        <h2>Найденный клиент:</h2>
        <p>ID: {{ customer.id }}</p>
        <p>Имя: {{ customer.name }}</p>
        <p>Фамилия: {{ customer.surname }}</p>
        <p>Паспорт: {{ customer.passport_data }}</p>
    {% elif error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>